
 
.card-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.task-name{
  font-size: 16px;
  color: rgb(228, 228, 44);
  text-transform: capitalize;
  white-space: nowrap; 
  width: 400px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

#checkId{
height: 20px;
width: 20px;
}
.cross-text{
  text-decoration: line-through;
}